#page{
    background-image: url('public/img/wall.png');
    background-size: cover;
    height: 100vh;
}

h1{
    font-family: 'Lacquer', cursive;
    font-size:5vw;
    color:rgb(53, 3, 3);
    text-shadow: 2px 0 rgb(250, 226, 14), -2px 0 rgb(255, 136, 0), 0 2px rgb(16, 124, 25), 0 -2px #ffffff,
    1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255), 1px -1px #fff, -1px 1px #fff
}

.container{
    padding-top: 160px;
}

